<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Fusca Azul - Início 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Bem-vindo ao aplicativo Fusca Azul!</strong>
    <p>Clique no botão abaixo para cadastrar peças de sua loja</p>
    <ion-button fill="outline" class="ion-padding" [routerLink]="['/loja']">Cadastrar loja e produto</ion-button>
  </div>
</ion-content>
